<html>
<head>
</head>

<div id="header">
          <div class="nav">
	      
               <p> NOMAD</p>
          </div>
     </div>
</br><br>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<fl><%= @DemoMessage %></fl>


<div id='area' class='charts' style="width: 600px"></div>
<%= render_chart @area, 'area' %>



<!-- Filter out locations  -->
<%= form_tag('index?uid=' + @userID, :action => 'bar_chart') do %>
<!-- Filter out locations  -->
<fl style='position: absolute; left: 620px; top: 70px'>
	<fl style='font-size:19px'>Filtering Options</fl><br>
	<br>
	<fl style ='font-size:18px; color: #0c7ac4; overflow: auto'><label for="Locations[]">Locations:</label></fl><br>
	<% @location.each do |location| %>
		<br><%= check_box_tag 'Locations[]', location, (@loc.include? location) %> <%= location %>
	<%end%><br><br><%= submit_tag("Save Selection") %>
<!-- Filter out products  -->
<br><br>
    <fl style ='font-size:18px; color: #0c7ac4; overflow: auto'><label for="products[]">Menu Items:</label></fl><br>
	<% @products.each_with_index do |product, index| %>
		<% if (index>1) then %><br>
			<%= check_box_tag 'products[]', product[1], (@prod.include? product[1]) %> <%= product[0] %>
		<%end%> 
	<%end%><br><br><%= submit_tag("Save Selection") %></fl>
<%end%>




<br><br>
<div id='table2' class='charts' style="width: 600px"></div>
<%= render_chart @table2, 'table2' %>
</html>
