<html>
<head>
</head>

<div id="header">
          <div class="nav">
	      
               <p> NOMAD</p><l><%= link_to 'â†Back', root_path %></l>
          </div>
     </div>
</br><br>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<div id='area' class='charts'></div>
<%= render_chart @area, 'area' %>

<div id='table2' class='charts'></div>
<%= render_chart @table2, 'table2' %>

<!-- Filter out locations  -->
<h6 style='position: absolute; left: 480px; top: 120px'>Filtering Options</h6><br>
<%= form_tag('index?uid=' + @userID, :action => 'bar_chart') do %>
<!-- Filter out locations  -->
<fl style='position: absolute; left: 590px; top: 120px'>
	<br>
	<h1><label for="Locations[]">Locations:</label></h1><br>
	<% @location.each do |location| %>
		<br><h2><%= check_box_tag 'Locations[]', location, (@loc.include? location) %> <%= location %></h2>
	<%end%><br><br><h2>	<%= submit_tag("Save Selection") %></h2></fl>
<!-- Filter out products  -->
   <fl style='position: absolute; left: 790px; top: 390px'>
   <h4><label for="products[]">Menu Items:</label></h4><br><br>
	<% @products.each_with_index do |product, index| %>
		<% if (index>1) then %><br>
			<h3><%= check_box_tag 'products[]', product[1], (@prod.include? product[1]) %> <%= product[0] %></h3>
		<%end%> 
	<%end%><br><br><h5><%= submit_tag("Save Selection") %></h5></fl>
<%end%>

<br><br>


</html>
