<html>
<head>
</head>

<div id='chart'></div>
<div id='line'></div>
<div id='table'></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<center><%= render_chart @line, 'line' %></center>

<br>

<!-- Filter out locations  -->

<%= form_tag('index', :action => 'bar_chart') do %>

<!-- Filter out locations  -->
	<label for="Locations[]">Locations:</label>
	<% @location.each do |location| %>
		<br><%= check_box_tag 'Locations[]', location, (@loc.include? location) %> <%= location %>
	<%end%><br>
<!-- Filter out products  -->
    <br><label for="products[]">Products:</label>
	<% @products.each_with_index do |product, index| %>
		<% if (index>1) then %><br>
			<%= check_box_tag 'products[]', product[1], (@prod.include? product[1]) %> <%= product[0] %>
		<%end%>
	<%end%><br>
	<%= submit_tag("Save Selection") %>
<%end%>
<br><br>


</html>
