<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @sale.Day %>
</p>

<p>
  <b>Sales:</b>
  <%= @sale.Sales %>
</p>

<p>
  <b>Location:</b>
  <%= @sale.Location %>
</p>

<%= link_to 'Back', sales_path %>
